

<nav class="navbar">
  <p> <%= render partial: 'shared/navtitle' %> </p>
  <%if user_signed_in?%>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn-sgnout' %>
  <%end%>
</nav>